/* FONTS */
/* LINKS */
/* BUTTONS */
/* COLORS */
/*Tier2*/
/* BORDER */
/**/
/*STANDARD*/
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #304764;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'ProximaNovaRgRegular', Arial, sans-serif;
  color: #666666;
}
.orange {
  color: #e87d1e;
}
.blue {
  color: #009ddc;
}
.bold {
  font-family: 'ProximaNovaRgBold', Arial, sans-serif;
}
/* HEADER */
#header {
  background: #304764;
  position: relative;
  display: block;
  width: 100%;
}
#header #logo {
  margin: 15px 0 15px 18px;
  max-width: 300px;
}
#header #info {
  float: right;
  position: relative;
  display: inline;
  color: #fff;
  margin: 25px 45px 0 0;
}
#header #info p {
  font-size: 12px;
  line-height: 15px;
  float: left;
}
#header #info .icon {
  display: inline;
  float: right;
  width: 35px;
  margin: 0  0 0 10px;
}
/*LOGIN*/
#login {
  height: 100%;
  background: #304764;
}
#login .loginArea {
  position: relative;
  margin: 150px auto;
  width: 816px;
  height: 300px;
}
#login .loginArea .container {
  border-radius: 3px;
  overflow: visible;
  background: #e1e2e4;
  width: 100%;
  height: 100%;
  margin: 15px 0;
  padding: 0;
}
#login .loginArea .container .clientLogin {
  float: left;
  display: inline-block;
  width: 260px;
  height: 100%;
  padding: 25px 25px;
}
#login .loginArea .container .clientLogin h3 {
  font-size: 13px;
  font-family: 'ProximaNovaRgRegular', Arial, sans-serif;
  padding: 0 0 15px 0;
}
#login .loginArea .container .clientLogin form input {
  width: 100%;
  padding: 8px 5px;
  font-size: 12px;
}
#login .loginArea .container .clientLogin form .btn {
  padding: 5px 35px;
  font-size: 16px;
  margin: 5px 0;
  color: #ffffff;
}
#login .loginArea .container .clientLogin form .btn:hover {
  color: #ffffff;
}
#login .loginArea .container .clientLogin a {
  font-size: 12px;
  color: #009ddc;
  cursor: pointer;
}
#login .loginArea .container .clientLogin a:hover {
  text-decoration: none;
  color: #e87d1e;
}
#login .loginArea .container .carousel {
  float: right;
  display: inline-block;
  width: 550px;
  height: 300px;
  padding: 0;
  background: #ffffff;
  overflow: visible;
}
#login .loginArea .container .carousel .item {
  height: 100%;
}
#login .loginArea .container .carousel ol.carousel-indicators {
  bottom: -45px;
}
#login .loginArea .container .carousel ol.carousel-indicators li {
  margin: 0 5px;
  background: #4e7eae;
  border: none;
  width: 12px;
  height: 12px;
}
#login .loginArea .container .carousel ol.carousel-indicators li.active {
  border: none;
  background: #fff;
}
#login .loginArea .container .carousel .carousel-control {
  display: none;
}
#login .loginArea .container .carousel .carousel-inner {
  height: 100%;
}
#login .loginArea .container .carousel .carousel-inner .leftCol {
  float: left;
  width: 200px;
}
#login .loginArea .container .carousel .carousel-inner .leftCol .leftImg {
  margin: 50px 0 0 0;
}
#login .loginArea .container .carousel .carousel-inner .rightCol {
  float: right;
  text-align: right;
  width: 230px;
  margin: 25px 25px 0 0;
}
#login .loginArea .container .carousel .carousel-inner h4 {
  font-size: 16px;
  font-family: 'ProximaNovaRgRegular', Arial, sans-serif;
  font-weight: normal;
}
#login .loginArea .container .carousel .carousel-inner p {
  margin: 15px 0;
  padding: 0 0 0 35px;
  font-size: 12px;
}
#login .loginArea .container .carousel .carousel-inner a {
  font-size: 12px;
  color: #009ddc;
  cursor: pointer;
}
#login .loginArea .container .carousel .carousel-inner a:hover {
  text-decoration: none;
  color: #e87d1e;
}
#login .loginArea .container .carousel .carousel-inner .icons {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
#login .loginArea .footer {
  padding: 0 0 0 25px;
}
#login .loginArea .footer p {
  color: #5479A8;
  font-size: 12px;
}
/*REPORTS*/
#reports {
  background: #e1e2e4;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#reports #reportTabs {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  height: 100%;
}
#reports #reportTabs .ui-widget-header {
  border: 0;
}
#reports #reportTabs .ui-tabs-nav {
  background: #273b53;
  padding: 5px 0 0 30px;
  border-radius: 0;
  border: 0;
}
#reports #reportTabs .ui-tabs-nav li {
  height: 50px;
  margin: 1px 3px 0;
}
#reports #reportTabs .ui-tabs-nav li a {
  outline: none;
}
#reports #reportTabs .ui-tabs-nav li a h3 {
  font-size: 28px;
  font-weight: normal;
  float: left;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
#reports #reportTabs .ui-tabs-nav li a span {
  float: left;
  padding: 10px 0 0 5px;
  font-size: 11px;
  line-height: 10px;
}
#reports #reportTabs .ui-tabs-panel {
  position: relative;
  display: block;
  height: 100%;
  padding: 0;
  border: none;
}
#reports #reportTabs .ui-tabs-panel iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
/* LAUNCHPAD */
#launchpad {
  background: #e1e2e4;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#launchpad #utility {
  background: #273b53;
  height: 35px;
  text-align: right;
  padding: 0 25px 0 0;
}
#launchpad #utility .user {
  float: left;
  color: #ffffff;
  line-height: 35px;
  padding: 0 0 0 25px;
}
#launchpad #utility .popup {
  float: right;
  margin: 0 5px 0 0;
}
#launchpad #utility .popup li {
  display: inline-block;
  position: relative;
  margin: 0 15px;
  line-height: 35px;
  cursor: pointer;
  float: left;
}
#launchpad #utility .popup li a {
  color: #ffffff;
  padding: 5px 5px 15px;
  height: 35px;
}
#launchpad #utility .popup li a:hover {
  text-decoration: none;
}
#launchpad #utility .popup li .icon {
  padding: 0 5px 0 0;
  margin: -2px 0 0 0;
  display: inline-block;
  vertical-align: top;
}
#launchpad #utility .popup li .update {
  background: #e87d1e;
  padding: 7px 5px;
  border-radius: 3px;
  font-size: 10px;
  color: #ffffff;
  display: inline-block;
}
#launchpad #utility .popup li .dropContent {
  position: absolute;
  z-index: 600;
  width: 300px;
  padding: 0;
  margin: 0;
  border: 0;
  background: #ffffff;
  border-radius: 3px;
  overflow: hidden;
}
#launchpad #utility .popup li .dropContent li {
  margin: 15px 0 0 0;
  padding: 0;
  text-align: left;
  font-size: 12px;
  color: #666666;
  display: block;
  line-height: 12px;
}
#launchpad #utility .popup li .dropContent li .date {
  color: #009ddc;
}
#launchpad #utility .popup li .alerts .footer {
  line-height: 5px;
}
#launchpad #utility .popup li .processing h5 {
  text-align: left;
  color: #e87d1e;
  padding: 15px 0 0 25px;
  margin: 0;
}
#launchpad #utility .popup li .processing .orange {
  font-size: 10px;
}
#launchpad #utility .popup li .processing p {
  margin: 0;
  padding: 5px 25px 5px 25px;
}
#launchpad #utility .popup li .processing .buttons {
  margin: 0 0 15px 25px;
  float: left;
}
#launchpad #utility .popup li .processing .buttons .org {
  background: #e87d1e;
  border: 1px solid #e87d1e;
}
#launchpad #utility .popup li .processing .buttons .org:hover {
  color: #ffffff;
}
#launchpad #utility .popup li .notifications {
  right: 0;
  left: auto;
}
#launchpad #utility .popup li .notifications table {
  width: 80%;
  margin: 25px auto;
}
#launchpad #utility .popup li .notifications table .date {
  text-align: left;
  color: #009ddc;
  vertical-align: top;
}
#launchpad #utility .popup li .notifications table td {
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  padding: 5px 5px;
}
#launchpad #utility .popup li .notifications .footer {
  padding: 10px 0 0 25px;
}
#launchpad #utility .popup li p {
  padding: 25px 15px;
  margin: 0;
  line-height: 12px;
  font-size: 12px;
  text-align: left;
}
#launchpad #utility .popup li .footer {
  background: #e1e2e4;
  height: 45px;
  font-size: 10px;
}
#launchpad #utility .popup .open a {
  background: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #666666;
}
#launchpad #utility .popup .open a .update {
  background: #ffffff;
}
#launchpad #utility .popup .open .drop-down-menu {
  min-width: 300px;
}
#launchpad .row {
  margin: 5px 0;
}
#launchpad .overlay {
  position: absolute;
  z-index: 500;
  top: 35px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}
#launchpad .widgetArea {
  position: relative;
  margin: 50px auto 0;
  width: auto;
  text-align: center;
  width: 1100px;
}
#launchpad .smContainer {
  width: 267px;
  overflow: hidden;
  float: left;
}
#launchpad .widget {
  background: #ffffff;
  position: relative;
  margin: 2px 4px;
  float: left;
  display: inline-block;
  border-radius: 3px;
  font-size: 28px;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 2px 2px #ccc;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
  box-shadow: 0px 0px 2px 2px #ccc;
}
#launchpad .widget .heading {
  height: 36px;
  line-height: 36px;
  text-align: left;
  padding: 0 0 0 10px;
  font-size: 12px;
  color: #999;
  background: #f2f2f2;
}
#launchpad .widget .heading span {
  width: 16px;
  height: 16px;
  margin: 8px 8px 0 0;
  float: right;
}
#launchpad .widget .heading .green {
  background: url('../img/icon_indicator_green.png') no-repeat;
}
#launchpad .widget .heading .red {
  background: url('../img/icon_indicator_red.png') no-repeat;
}
#launchpad .widget .heading .orange {
  background: url('../img/icon_indicator_amber.png') no-repeat;
}
#launchpad .widget p {
  padding: 10px 0 0 0;
  margin: 0;
}
#launchpad .widget .green {
  color: #8DC73F;
}
#launchpad .widget .red {
  color: #AF2600;
}
#launchpad .widget .orange {
  color: #E87D1E;
}
#launchpad .widget ol {
  padding: 15px 0 0 35px;
}
#launchpad .widget ol li {
  text-align: left;
  line-height: 17px;
  font-size: 11px;
  color: #009ddc;
  font-weight: bold;
}
#launchpad .widget ol li a {
  color: #009ddc;
  font-weight: normal;
}
#launchpad .widget ol li a:hover {
  color: #e87d1e;
  text-decoration: none;
}
#launchpad .widget .btn {
  color: #fff;
}
#launchpad .widget .footer {
  position: absolute;
  bottom: 0;
  height: 34px;
  width: 100%;
  background: #f2f2f2;
  overflow: hidden;
}
#launchpad .widget .footer .highchart {
  position: absolute;
  top: -5px;
  left: -30px;
}
#launchpad .widget .footer img {
  padding: 0 0 15px 0;
}
#launchpad .topTenReports .btn {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
#launchpad .gapAnalysis .text {
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  width: 175px;
  z-index: 500;
  position: relative;
  text-align: left;
  margin: 15px 0 0 15px;
}
#launchpad .gapAnalysis .text p {
  padding: 0;
  margin: 0;
}
#launchpad .gapAnalysis .chart {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 0;
}
#launchpad .gapAnalysis .btn {
  margin: 9px 0 0 0;
}
#launchpad .university {
  text-align: left;
}
#launchpad .university .text {
  width: 200px;
  font-size: 12px;
  color: #666666;
  margin: 5px 0 0 15px;
}
#launchpad .university .text ul {
  margin: 0;
  padding: 5px 0 0 15px;
}
#launchpad .university .text ul li {
  color: #009ddc;
}
#launchpad .university .text ul li a {
  color: #009ddc;
}
#launchpad .university .text ul li a:hover {
  color: #e87d1e;
  text-decoration: none;
}
#launchpad .university .img {
  position: absolute;
  right: 0;
  bottom: 0;
}
#launchpad .naturalLink .img {
  position: absolute;
  left: 0;
  bottom: 0;
}
#launchpad .naturalLink .text {
  width: 170px;
  float: right;
  text-align: right;
  margin: 0 25px 0 0;
  font-size: 12px;
  color: #666666;
}
#launchpad .naturalLink .text h5 {
  color: #000000;
}
#launchpad .naturalLink .text a {
  color: #009ddc;
}
#launchpad .naturalLink .text a:hover {
  color: #e87d1e;
  text-decoration: none;
}
#launchpad .quickLinks .text {
  font-size: 12px;
}
#launchpad .quickLinks .text ul {
  margin: 15px 0 0 35px;
  padding: 0;
}
#launchpad .quickLinks .text ul li {
  text-align: left;
  line-height: 18px;
  color: #009ddc;
}
#launchpad .quickLinks .text ul li a {
  color: #009ddc;
  cursor: pointer;
}
#launchpad .quickLinks .text ul li a:hover {
  color: #e87d1e;
  text-decoration: none;
}
#launchpad .sm {
  width: 125px;
  height: 125px;
}
#launchpad .smT {
  width: 202px;
  height: 200px;
}
#launchpad .med {
  width: 395px;
  height: 200px;
  margin: 2px 4px;
}
#launchpad .lg {
  width: 395px;
  height: 255px;
}
#launchpad .xl {
  width: 452px;
  height: 200px;
}
/*MODAL*/
.modal-dialog .modal-header h3 {
  color: #e87d1e;
  padding: 0;
  margin: 10px 0 0 5px;
  font-family: 'ProximaNovaRgRegular', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  width: auto;
  float: left;
}
.modal-dialog .modal-header .filters {
  float: right;
  margin: 20px 0 0 0;
}
.modal-dialog .modal-header .filters input {
  height: 25px;
}
.modal-dialog .modal-header .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 12px;
}
.modal-dialog .modal-body {
  margin: 50px 0;
}
.modal-dialog .modal-body .assortment {
  width: 100%;
  font-size: 11px;
}
.modal-dialog .modal-body .assortment thead {
  background: #666;
}
.modal-dialog .modal-body .assortment thead tr {
  border: 1px solid #666;
}
.modal-dialog .modal-body .assortment thead tr td {
  min-width: 25px;
  padding: 2px 5px;
  border-right: 1px solid #fff;
  color: #ffffff;
  font-family: 'ProximaNovaRgRegular', Arial, sans-serif;
}
.modal-dialog .modal-body .assortment thead tr td:last-child {
  border-right: none;
}
.modal-dialog .modal-body .assortment tbody td {
  border: 1px solid #ccc;
  padding: 2px 5px;
}
.modal-dialog .modal-body .assortment tbody td a {
  color: #009ddc;
  cursor: pointer;
}
.modal-dialog .modal-body .assortment tbody td a:hover {
  color: #e87d1e;
  text-decoration: none;
}
.modal-dialog .modal-body .assortment tbody tr:nth-child(odd) {
  background: #F7F8F8;
}
.reportNav {
  width: 15%;
  float: left;
}
.reportNav .btn-group {
  width: 100%;
}
.reportNav .btn-group button.btn {
  display: block;
  float: left;
  width: 100%;
  border-radius: 0;
}
.reportNav .btn-group .btn-primary.active {
  background: #009DDC;
  border: 1px solid #009DDC;
  color: #ffffff;
}
.reportNav .btn-group .ui-state-default {
  background: #e1e2e4;
  border: #e1e2e4;
  margin: 1px 0;
  color: #009DDC;
}
.mainArea {
  width: 83%;
  float: left;
  margin: 0 0 0 3px;
}
