
<div ng-controller="ModalDemoCtrl">
	
	
        <div class="modal-header">
            <h3>View All Standard Reports</h3>
            <div class="filters">
            	<label>Date Range:</label>
            	<input type="text" id="datepickerS"> to
            	<input type="text" id="datepickerE">
            	<div class='btn'>Apply</div>
            </div>
            <div class="close" ng-click="close()">X</div>
        </div>
        <div class="modal-body">
        	<div class="reportNav">
				<div class="btn-group">
			        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Assortment'">Assortment</button>
			        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Performance'">Performance</button>
			        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Pricing'">Pricing</button>
			    </div>
			</div>
        	<div class="mainArea">
	            <table class="assortment">
	            	<thead>
	            		<tr>
	            			<td>&nbsp;</td>
	            			<td>Report Name</td>
	            			<td>Description</td>
	            			<td>Date Created</td>
	            			<td>Date Modified</td>
	            		</tr>
	            	</thead>
	            	<tbody>
	            		<tr ng-repeat="item in assortment">
	            			<td>&nbsp;</td>
	            			<td><a>{{item.reportname}}</a></td>
	            			<td>{{item.description}}</td>
	            			<td>{{item.dateCreated}}</td>
	            			<td>{{item.dateModified}}</td>
	            			
	            		</tr>
	            	</tbody>
	            </table>
	    	</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">View Reports</button>
            
        </div>
	</div>
</div>
