<div id="login" class="main">
	<div class="loginArea">
		<div id="logo"><img src="img/logo_lg.png" /></div>
		<div class="container">
			<div class="clientLogin">
				<h3>CLIENT LOGIN</h3>
				<form ng-submit="submit()">
	    			<p><input ng-model="user.username" type="text" name="user" placeholder="Username" /></p>
	    			<p><input ng-model="user.password" type="password" name="pass" placeholder="Password" /></p>
	    			<p><a href="#/launchpad" class="btn">Login</a></p>
	    			<a>Forgot username / password</a>
	  			</form>
			</div>
			<div ng-controller="LoginCarousel">
				<div class="carousel" >
				    <carousel interval="myInterval">
				      <slide ng-repeat="slide in slides" active="slide.active">
				      	<div class="leftCol">
				  	  		<img class="leftImg" ng-src="{{slide.image}}"/>
				  	  	</div>
				        <div class="rightCol">
				        	<h4>{{slide.header}}</h4>
				  	  		<p>{{slide.text}}</p>
				  	  		<p><a href="{slide.linkUrl}}">{{slide.link}}</a></p>
				        </div>
				        <img class="icons" ng-src="{{slide.image2}}"/>
				      </slide>
				    </carousel>
				  </div>
				  
				
			</div>
		</div>
		<div class="footer">
			<p>© 2014 SPINS LLC. All rights reserved.</p>
		</div>
	</div>
</div>
