<div id="header">
	<div class="row">
		<div class="col-xs-6 col-sm-3 logo">
			<div id="logo"><img src="img/SATORI_logo.png" /></div>
		</div>
		
		<div class="col-md-5 col-md-offset-4">
			<div id="info"><p>SPINS Live Chat - Start Chat<br/>Monday-Friday 8am-6pm PST</p><span class="icon"><img src="img/icon_bubbles.png"/></span></div>
		</div>
	</div>
</div>
<div id="reports" class="main row">
	
	
		
			<div id="reportTabs" ng-controller="ReportCtl">
			  <ul>
			    <li><a href="#tabs-1"><h3>1D</h3><span>Standard<br/>Reports</span></a></li>
			    <li><a href="#tabs-2"><h3>3D</h3><span>Ad Hoc<br/>Reports</span></a></li>
			    <li><a href="#tabs-3"><h3>HD</h3><span>Power<br/>Reports</span></a></li>
			  </ul>
			  <div id="tabs-1">
			    <!--<iframe style="width:100%; height:100%;" src="http://72.52.128.63:8080/jasperserver-pro/flow.html?_flowId=searchFlow&mode=search&filterId=resourceTypeFilter&filterOption=resourceTypeFilter-reports">Jaspersoft</iframe>
			  	-->
			  	<iframe style="width:100%; height:100%;" src="http://www.w3schools.com">Qlickview</iframe>
			  </div>
			  <div id="tabs-2">
			  	<iframe style="width:100%; height:100%;" src="http://www.w3schools.com">Qlickview</iframe>
			  </div>
			  <div id="tabs-3">
			  	<iframe style="width:100%; height:100%;" src="http://72.52.205.221/qlikview/index.htm">Qlickview</iframe>
			  </div>
			</div>
			<!--<tabset class="reports">
				<tab heading="1D Standard Reports">
					<my-frame data-iframe-src="http://10.38.89.143:8080/jasperserver-pro/flow.html?_flowId=homeFlow">Jaspersoft</my-frame>
				</tab>
				<tab heading="3D Advanced Reports">
					<my-frame data-iframe-src="http://www.w3schools.com">Qlickview</my-frame>
					
				</tab>
				<tab heading="HD Custom Reports">
					<my-frame data-iframe-src="http://www.w3schools.com">Qlickview</my-frame>
					
				</tab>
			</tabset> -->
		
	
</div>